
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image:
   url('https://images.wallpapersden.com/image/download/planet-in-space-4k_a2pnZmuUmZqaraWkpJRpZ2VlrWdnbWU.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  background-attachment: fixed; 
}


header {
  background-color: black;
  color: red;
  padding: 10px 20px;
  text-align: left;
  position: sticky; 
  top: 0;
  z-index: 100; 
}

header h1, header h3 {
  margin: 0;
}


main {
  display: flex;
  flex: 1;
  background-color: rgb(27, 12, 1);
}


.left-side {
  width: 20%;
  padding: 20px;
  color: beige;
}

.movie-list div {
  color: yellow;
  font-weight: bold;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.delete-button {
  background-color: rgb(46, 20, 2);
  color: rgb(250, 6, 6);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 3px;
}

.delete-button:hover {
  background-color: darkred;
}


.center {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.center img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}


.right-side {
  width: 20%; 
  padding: 20px;
  color: blanchedalmond;
}

.details-container {
  text-align: left; 
}

.details-container h2 {
  margin-top: 0;
  color: #e5ff00; 
}

.details-container p {
  margin: 10px 0;
  line-height: 1.5; 
}

.details-container button {
  padding: 10px 20px;
  background-color: red;
  border: none;
  cursor: pointer;
  width: 100%; 
  margin-top: 20px; 
}

.details-container button:hover {
  background-color: darkred;
}